@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: var(--font-dm-sans);
}

body {
  color: #181A1F;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 62px;
}

h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 54px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.body-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.body-text-small {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.button {
  padding: 10px 21px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20.83px;
}